body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scroll-behavior: smooth;
  }


  .shimmer-cards{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20;
  }
  
  .headerTextShimmer{
    position: absolute;
    color: white;
  }
  
  .card{ 
    display: flex;
    flexWrap: wrap;
    justifyContent: center;
    gap: 25px; 
  }
  
  .hoverCards:hover{
  box-shadow: 0 4px 7px 0 rgba(218,220,230,.6);
  cursor: pointer;
  transform: scale(1.1);
  border-color: #d3d5df;
  }